.upload-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 0;
    border-radius: 8px;

}       

.upload-container h2 {
    color: #333;
    margin-bottom: 40px;
    font-size: 30px;
}

.btn
{
    display: inline-block;
    padding: 10px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* .btn2 {
    
} */

#preview.active
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
 
}



body {
    background: #76b852;
    background: rgb(141,194,111);
    background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
    font-family: "ROboto", "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}

